<table class="list" id="simulation-group-list-table"> 
	<thead>
	  <tr>
			<th><%= l(:label_scenario) %></th>
			<th><%= l(:label_group) %></th>
	  </tr>
	</thead>
	<tbody >
	  <tr id="simulation-group-list-no-records">
			<td colspan='2'><%= l(:label_no_records_index) %></td>
	  </tr>
	</tbody>
</table>
