<%= error_messages_for 'network' %>
<div class="box tabular">
<%= f.hidden_field :project_id, :value => @project.id %>
<p><%= f.text_field :name, :required => true %></p>
<p><%= f.text_field :description  %></p>
<p><%= f.check_box :q_control %></p>
<p><%= f.check_box :ml_control %></p>

<p><%= f.text_field :dt, :value => @network.display_time(:dt), :required => true %></p>


</div>
