<div>
  <object id="NetworkEditor"
    classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'
    codebase='http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab'
    width="100%"
    height="100%">
    <param name="movie" value="NetworkEditor.swf">
    <param name="quality" value="high">
    <param name="flashVars" value="s3key=12345678">
    <embed
      name="NetworkEditor"
      width="100%"
      height="100%"
      src="http://vii.path.berkeley.edu/topl/NetworkEditor/NetworkEditor.swf"
      FlashVars="s3key=12345678&url=https%3a%2f%2fs3.amazonaws.com%2frelteq-development%2faurora-export.xml"
      pluginspage="http://www.macromedia.com/go/getflashplayer"
      type="application/x-shockwave-flash">
    </embed>
  </object>
</div>
