#config-sidebar{ float: left; clear:left; display:inline;width: 230px; position: relative; z-index: 9; padding: 0; margin: 0;}
* html #config-sidebar{ width: 230px; }
#config-sidebar h3{ font-size: 14px; margin-top:14px; color: #666;  }
#config-sidebar hr{ width: 100%; margin: 0 auto; height: 1px; background: #ccc; border: 0; }
* html #config-sidebar hr{ width: 95%; position: relative; left: -6px; color: #ccc; }
#config-sidebar .contextual { margin-right: 1em; }

#main.config_sidebar {width:1215px;}
#main.config_sidebar #content{ float: right; width:940px;display:inline;margin-right:14px; }
#main.noconfig_sidebar #config-sidebar{ display: none; }
#main.noconfig_sidebar #content{ width: 940px; border-right: 0;float:left; }

#newscenario {
	margin-top:5px;
	margin-bottom:5px;
	margin-left:20px;
}
.newscenario {
	background-color:#DFFFDF;
	border: 1px #9FCF9F solid;
	width:365px;
	padding:3px;
}

#scenarios-list-header{
	font-size:14px;
	font-color:black;
	font-weight:bold;
	
}

#scenarios-list-box  {
	font-size:14px;
}

table.form_table{
	width:50%;
	margin-left:180px;
	margin-top:-30px;
}
.grey{ color:gray;}
.italic { font-style:italic;}
.inline {display:inline;}

#home_warnings {
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  font-size: 3em;
  text-align: center;
  width: 100%;
  height: 20%;
  background-color: #ff5959;
  border: 1px #ff0000 solid;
}

#home_new_features {
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  font-size: 3em;
  text-align: center;
  width: 100%;
  height: 20%;
  background-color: #eeff90;
  border: 1px #336633 solid;
}

.progress_bar.red { background-color: red; }
.progress_bar.black { background-color: black; }
.progress_bar.green { background-color: green; }
img.context_menu_icon { 
	padding-left: 5px; 
	width:10px;
	height:12px;
}

.index-menu img.context_menu_icon{
	padding-left: 5px; 
	width:15px;
	height:17px;
}

table.index{
	width:75%;
}

table.index td.index-menu-td {
	width:1%;
}
table.index td.index-menu-multiple {
	padding-top:4px;
	width:0.25%;
}



#new_vehicle_type_formlet {
  border: 1px solid #eee;
  background-color: #eee;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.simulation-info label{
	font-weight:bold;
}

button.config{
	border: 0;
	height: 30px;
  width: 30px;
	margin-bottom: -20px;
  background: transparent url(/images/win_close.png) no-repeat center top;	
}
button.simulation-overlay-cancel{
  overflow: hidden;
  margin-left:95%;
  
}
button.scenario-overlay-cancel {
  text-indent: -1000em;
  overflow: hidden;
  margin-left: 95%;
}
.scenario-launch, .simulation-info {
  background-color: #ffffff;
  padding: 0em 2em 2em 2em;
}

.icon-file.application-xls { background-image: url(../images/files/xls.png); }
.icon-file.application-ppt { background-image: url(../images/files/ppt.png); }
