#report-generator  {
	padding:5px;
	margin-bottom:3px;
	margin-top:3px;
}

#report-generator-overlay-cancel{
	padding:0px;
}
#report-main  {
  width:635px;
}
#report-main .content {
  border:1px solid #ccc;
}
#report-main .tab-content {
  margin:7px 7px 7px 7px;
}
#report-main .tab{
	margin-top:5px;	
}
#report-main .buttons{
	margin-top:5px;
}
#report-main a {
    text-decoration:none;
    font-weight:bold;
    color:#2777a1;
}

#report-main label {
  font-weight:bold;

}

#report-main label.underline {
  text-decoration:underline;
}

#report-main .indent {
 	margin-left:140px;
}

#sections label{
	margin-left:15px;
	text-align:left;
}

#sections .sub-label{
	margin-left:30px;
	width:70px;
}

#sections-content table{
	margin-left:30px;
}

#scatter-plots label{
	margin-left:15px;
	text-align:left;
}

#scatter-plots div  {
	margin-left:15px;
}
#load-routes   {
	border:1px solid #ccc;
	padding:5px;
	width:65%;
}
#load-routes span  {
	display: block;
}

#x-y-config{
	border:1px solid #ccc;
	padding:5px;
	width:80%;
	height:65px;
}

#x-y-config label{
	width:100px;
}
#x-y-config .left{
	float:left;
	border-right:2px solid #ccc;
	display:inline;
	padding-right:5px;
}
#x-y-config .right{
	float:left;
	padding-left:10px;
	display:inline;
}
#x-y-config select{
	margin-left:5px;
}
	
#groups label{
	margin-left:0px;
	text-align:left;
}

#groups table{
	width:69%;
}






	
/* Subsection Tabs
--------------------*/
#report-main ul.subsection_tabs {
    list-style:none;
    margin:0 0 6px 0;
    padding:0;
    clear:both;
    height:28px;
    clear:both;
}

#report-main ul.subsection_tabs li.tab {
    float:left;
    margin-right:7px;
    text-align:center;
    border-bottom:1px solid #ccc;

}

#report-main ul.subsection_tabs li.tab a {
    display:block;
    height:20px;
    padding:6px 6px 0 6px;
    background-color:#fff;
    color:#666;
    width:101px;
}

#report-main ul.subsection_tabs li.tab a:hover {
    color:#666;
}

#report-main ul.subsection_tabs li.tab a.active {
    background-color:#ddd;
}

#report-main ul.subsection_tabs li.source_code {
    float:right;
}




