@charset "utf-8";
/* CSS Document */


/******* Menu styling  *****/
a:link, a:visited {
  color: #027AC6;
  text-decoration: none;
}
a.item:hover, a.category:hover {
  text-decoration: none;
}

a:hover {
  color: #0062A0;
  text-decoration: underline;
}

a:active, a.active {
  color: #5895be;
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(../images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}
.cat_close {
	background-image:url(../images/menu-collapsed.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.cat_open {
	background-image:url(../images/menu-expanded.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.item {
	background-image:url(../images/menu-leaf.gif);
	background-repeat:no-repeat;
	background-position:left;
}
a.item, a.cat_close, a.cat_open {
	text-decoration:none;
}
#block-category-0 ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em .5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent no-repeat 1px .35em; /* LTR */
}
div.config-sidebar-menu {
	position:absolute;
	top: 0;
	left: 0;
	font-family: verdana;
}

div.config-sidebar-menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
}


.config-sidebar-menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.config-sidebar-menu ul, .config-sidebar-menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.config-sidebar-menu li {
	list-style-position: outside;
	padding-bottom:5px;
}

.config-item {
	margin-left: 15px;
}

#config-sidebar-root{
	padding-left:15px;
}

.config-sidebar-header{
	font-weight: bold;
}

.config-sidebar-menu li a {
	cursor: context-menu;
	font-size:13px;
	color: #555;
	font-weight:none;	
	text-decoration: none;
}

.config-sidebar-menu ul a:hover, .config-sidebar-menu li a:hover {
	background-color: #CCC;
}

#config-sidebar-root .highlight{
	font-weight: bold;
	font-style:italic;
	background-color: #FFF;
	
}


