#newscenario {
	margin-top:5px;
	margin-bottom:5px;
	margin-left:20px;
}
.newscenario {
	background-color:#DFFFDF;
	border: 1px #9FCF9F solid;
	width:365px;
	padding:3px;
}

#scenarios-list-header{
	font-size:14px;
	font-color:black;
	font-weight:bold;
	
}

#scenarios-list-box  {
	font-size:14px;
}

table.form_table{
	width:50%;
	margin-left:180px;
}
.grey{ color:gray;}
.italic { font-style:italic;}



