@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  font: 15px/170% Verdana, sans-serif;
}

#page{
	height:800px;
	
}

#sidebar {
	background: #CCC;
	width:300px;
	height:100%;
	float:left;
	margin-right:10px;

}

#header{
	background: gray;
	width:100%;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
}
#content{
	display:inline;
	width:100%;
	
}
.text{
	color:white;
	font-weight:bold;
	margin-left: 10px;
	font-size:16px;
}

/******** Table Styling *****/
table {
	border: gray 1px solid;
	border-spacing: 0px;
}
table th{
	background : #CCC;
	border: gray 1px solid;
	padding : 7px;

}
table td{
	border: gray 1px solid;
	padding : 4px;

}

table td.stripe {background: #BCD2EE; }


/******* Menu styling  *****/
a:link, a:visited {
  color: #027AC6;
  text-decoration: none;
}

a:hover {
  color: #0062A0;
  text-decoration: underline;
}

a:active, a.active {
  color: #5895be;
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(../images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}
.cat_close {
	background-image:url(../images/menu-collapsed.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.cat_open {
	background-image:url(../images/menu-expanded.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.item {
	background-image:url(../images/menu-leaf.gif);
	background-repeat:no-repeat;
	background-position:left;
}
a.item, a.cat_close, a.cat_open {
	text-decoration:none;
}
#block-category-0 ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em .5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent no-repeat 1px .35em; /* LTR */
}

/****  General Styling ****/
.notification {
	color: green;s
}