<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<title>Relteq 500 error</title>

<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= stylesheet_link_tag 'relteq', :media => 'all' %>

</style>
<body>
  <h1>Oops -- it looks you have navigated to a page that doesn't exist...</h1>
  <p>Click the Back button or navigate home: <a href="/">Relteq Home</a><p/>
  <p><a href="javascript:history.back()">Back</a></p>
</body>
</html>