<% form_for :simulation_batch_report, item_show, :url => project_simulation_batch_report_path(@project,item_show.id), :html => {:method => :put} do |f| %>
	<p>
		<%= label_tag :name %>:
		<%= f.text_field :name %>
	</p>
	<p><%= f.submit 'Rename Simulation Report' %> </p>
<% end %>