
<%= error_messages_for 'cset' %>
<div class="profile_form box">

<p><%= f.text_field :name, :required => true %></p>
<p><%= f.text_field :description %></p>
<p><label><%=l(:label_network)%><span class='required'> *</span></label><%= collection_select :controller_set, :network_id, @networks, :id, :name,{:prompt => @prompt_network, :selected => @cset.network_id}  %></p>

<br/>
<div id="controllers_table" class="autoscroll">
	<%= render :partial => 'populate_table' %>
</div>
</div>
