<% form_for :measurement_data, item_show, :url => project_measurement_datum_path(@project,item_show.id), :html => {:method => :put} do |f| %>
	<p>
		<%= label_tag :name %>:
		<%= f.text_field :name %>
	</p>
	<p><%= f.submit 'Rename Measurement Data' %> </p>
<% end %>