<div id="no-project-selected" style="display: none;">
<h2>No Project Selected</h2>
You must select a project. If there is no project you can copy to, ask<br/>
your administrator to add you as a member of an existing<br/>
project or create your own project.
</div>

