<table class="list"> 
	<thead>
	  <tr>
			<th>Scenario</th>
			<th>Group</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
	  </tr>
	  <tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
	  </tr>
	</tbody>
</table>
