<div id="scenarios-list-box">
	<span id="scenarios-list-header">Scenarios using:</span><br/>
	<% if  record == nil || record.scenarios.empty? %>
		<span class="no-records"><%= l(:label_no_scenario_records) %></span>
	<% else %>
		<ul>
  	<% record.scenarios.each do |s| %>
	  	<li><%= link_to s.name, edit_project_configuration_scenario_path(@project,s)  %></li>
	  <% end %>
		</ul>
	<% end %>
</div>